/* app css stylesheet */

body{
	background-image: url(paper.jpg );
	color: rgb(90,45,0);
	font: bold 15px/30px Arial;
}

li{
	clear: both;
	height: 15px;
	padding-top: 15px;
	padding-right:400px;
	padding-left: 150px;
	font:italic bold 15px/30px Georgia, serif;
}

.butoane{
	background-color: rgb(250,155,50);
	color: rgb(90,45,0);
	font: bold 15px/18px Arial;
}

.caseteText{
	background-color: rgb(240,230,175);
	color: rgb(90,45,0);
	font:italic 15px/30px Arial;
}

.strike {
text-decoration: line-through;
}

#butonModif{
	height: 30px; 
    width: 32px; 
    background-color: rgb(255,255,255);
 }