<!doctype html>
<html lang="en" ng-app="shoppingControllers">
<head>
  <meta charset="utf-8">
  <title>Lista Cumparaturi</title>
 
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body  ng-controller="ProductController"  >
  <div id="liste">
    Adauga lista:
    <input class="caseteText" type="text" ng-model="newList">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="butoane" ng-click="addList()">
      Adauga</button>
    <br><br>
     Selecteaza lista: 
    <select class="caseteText" ng-model="newProduct.list"ng-init="newProduct.list='Lista1'" ng-options="list for list in lists">
    </select><br><br>
  </div>
  <div> 
    <div> 
      Adauga produs:&nbsp;&nbsp;&nbsp;
      <button class="butoane" ng-click="displayAddProduct=!displayAddProduct">+</button> 
      <br>
      <br>
    </div>
    <div id="adaugareProd" ng-show="displayAddProduct">  
      Nume:
      <input class="caseteText" type="text" ng-model="newProduct.name" ng-disabled=false>
      Descriere:
      <input class="caseteText" type="text" ng-model="newProduct.description" ng-disabled=false>
      Categorie:
      <select class="caseteText" ng-model="newProduct.category"ng-init="newProduct.category='Alimentare'" ng-options="category for category in categories">
      </select>
     &nbsp;&nbsp;&nbsp;&nbsp;
      <button class="butoane" ng-click="addProduct()">Adauga</button>
      <br>
      <br>
      <br>
    </div>
    <div id="produse">  
      Cauta in lista de produse: <input class="caseteText" ng-model="search.name">&nbsp;&nbsp;&nbsp;&nbsp;
      Sorteaza dupa:
      <select class="caseteText" ng-model="orderProp" ng-init="orderProp='category'">
        <option value="name">Numele Produsului</option>
        <option value="category">Categorie</option>
      </select>&nbsp;&nbsp;&nbsp;&nbsp;
      Categoria:
       <select class="caseteText" ng-model="categoryfilter"ng-init="newProduct.category='Alimentare'" ng-options="category for category in categories"><option value="">Toate</option>
        </select>
      <li class="produse" ng-repeat="product in products |filter:search |filter:newProduct.list:true|filter:categoryfilter:true| orderBy:orderProp">
        <input class="caseteText" class="messageCheckbox" type="checkbox" ng-model="product.checked">
       {{product.name}} {{product.description}}, Categorie:{{product.category}}
        <button id="butonModif" ng-click="editProduct(product.id) " style="float:right;" ><img src="pen.jpg" ></button>
      </li>
    </div>
    
    <br>
    <br>
    <div >
      <button class="butoane" ng-click="removeProduct()">Sterge</button>
    </div>
  </div>






  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
