<!doctype html>
<html lang="en" ng-app="shoppingControllers">
<head>
  <meta charset="utf-8">
  <title>Lista Cumparaturi</title>
 
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body  ng-controller="ProductController"  >
  <div id="liste" ng-controller="ListController">
    Selecteaza lista: 
    <select ng-model="newProduct.list" ng-options="list for list in lists">
    </select>
    <br>
    Adauga lista:
    <input type="text" ng-model="newList"><br>
    <button ng-click="addList()">Adauga Lista</button>
    <br><br>
  </div>
  <div> 
    <div> 
    Adauga produs:
    <button ng-click="displayAddProduct=!displayAddProduct">+</button> 
    <br>
    <br>
    </div>
    <div id="adaugareProd" ng-show="displayAddProduct">  
      Nume:<br>
      <input type="text" ng-model="newProduct.name" ng-disabled=false><br>
      Descriere:<br>
      <input type="text" ng-model="newProduct.description" ng-disabled=false><br>
      Categorie:<br>
       <select ng-model="newProduct.category" ng-options="category for category in categories">
    </select><br>

      <button ng-click="addProduct()">Adauga</button>
      <br>
      <br>
      <br>
    </div>
    <div id="produse">
     
      Search: <input ng-model="query"><br>
      Sorteaza dupa:
      <select ng-model="orderProp">
        <option value="name">Numele Produsului</option>
        <option value="category">Categorie</option>
      </select>
      <li class="produse" ng-repeat="product in products |filter:query | orderBy:orderProp">
        <input class="messageCheckbox" type="checkbox" ng-model="product.checked">
          {{product.name}} {{product.description}} {{product.list}} {{product.category}}
        <button ng-click="editProduct(product.id)">Modifica</button>
      </li>
    </div>
    
    <br>
    <br>
    <div class="buton_sterge">
      <button ng-click="removeProduct()">Sterge</button>
    </div>
  </div>






  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
